a:link,
a:hover,
a:visited,
a:active {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

button {
    outline: none;
    box-shadow: none;
}

h1, h2, h3, h4, h5, h6,
p, span, a, label, strong,
input, textarea {
    font-family: 'Roboto', 'Arial', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

a {
    color: #fff;
}

a:hover {
    opacity: 0.85;
}

@media (max-width: 480px) {
    html {
        font-size: 1rem !important;
    }
}

@media (max-width: 767px) {
    html {
        font-size: 1.1rem;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 1.025rem;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 0.95rem;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 1rem;
    }
}

.down-arrow::after {
    content: '';
    position: absolute;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    z-index: -1;
    left: 48.2%;
    bottom: -10px;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .down-arrow::after {
        bottom: -5px;
    }
}

@media (max-width: 767px) {
    .down-arrow::after {
        bottom: -3px;
        left: 45%;
    }
}

a.hotdog {
    background: #ffba00;
    border-radius: 1.25rem;
    padding: 0.5rem 1.5rem;
    text-align: center;
}

.narrow-content {
    width: 90%;
    margin: 0 auto;
}

.view-all-link {
    margin: 0 auto;
}

.flex-1 {
    flex: 1 1 0;
}

.tt-l {
    text-transform: lowercase;
}

.tt-u {
    text-transform: uppercase;
}

.tt-c {
    text-transform: capitalize;
}

.ff-oswald {
    font-family: 'Oswald', 'Arial', sans-serif;
}

.ff-roboto {
    font-family: 'Roboto', 'Arial', sans-serif;
}

.ff-lato {
    font-family: 'Lato', 'Arial', sans-serif;
}

body.unscrollable {
    overflow: hidden;
}